body { 
    background-color:rgb(255, 159, 191);
    color: rgb(255, 77, 0);
    font-family:'Times New Roman', Times, serif;}


   
h1, h2,h3 {font-family: 'Times New Roman', Times, serif;
            background:white}  



 img { border-width: 20px;
    border-style: solid;
    border-color:rgb(255, 77, 0);}